.sidebar {
  position: relative;
  border-radius: 2%;
  overflow: auto;
  opacity: 0.95;
  max-width: 240px;
  height: 100%;
}

.sidebar .subtitle {
  font-size: 75%;
}

.sidebar .sidebar-brand {
  padding: 0.5rem;
  text-align: center;
}

.sidebar hr.sidebar-divider {
  margin: 0 1rem 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.sidebar .nav-item {
  width: 100%;
  padding: 1rem 1rem;
  font-size: 0.8rem;
}

.sidebar .nav-item:hover {
  cursor: pointer;
  color: rgb(156, 156, 156) !important;
}

.sidebar .nav-item a {
  color: inherit;
}

.sidebar .subitems {
  width: 90%;
  background-color: rgb(39, 39, 39, 0.5);
  border-radius: 2%;
  max-height: 400px;
  margin: 0 auto;
  overflow-y: auto;
}

.sidebar .app-version {
  position: absolute;
  bottom: 0;
  left: 5px;
}
